.game-section {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
  outline: none;
}

.game-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.back-link {
  text-decoration: none;
}

.game-header p {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.timer-container {
  min-width: 8em;
  text-align: center;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 0.5em 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1em;
  list-style: none;
  padding: 2em 1em;
}


@media screen and (max-width: 400px) {
  .game-header {
    flex-direction: column;
    gap: 1em;
  }
}


@media screen and (min-width: 1200px) {
  .game-section {
    max-width: 50em;
    margin: 0 auto;
  }
}
