.game-section {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  justify-content:space-between;
  min-height: 100%;
  padding: 1em;
  outline: none;
}

.game-header {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timer-container {
  font-size: 3rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 5px 10px;
}

.turns {
  align-self: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1em;
  list-style: none;
  padding: 2em 1em;
}

@media screen and (max-width: 750px) {
  .game-header p {
    font-size: 0.8em;
  }

  .timer-container {
    font-size: 1em;
  }
}