.game-section {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  justify-content:space-between;
  min-height: 100%;
  padding: 1em;
  outline: none;
}

.game-header,
.game-footer {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timer-container {
  font-size: 3rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 5px 10px;
}

.game-btn {
  background-color: var(--accent-background-color);
  color: var(--accent-text-color);
  padding: 0.5em 1.2em;
  border-radius: 5px;
  width: 10em;
  align-self: center;
  box-shadow: 0 4px 8px 0 var(--text-color);
}

.turns {
  align-self: center;
  padding: 0.5em 1.2em;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1em;
  list-style: none;
  padding: 2em 1em;
}
