dialog {
  border-radius: 5px;
  background-image: linear-gradient(to right, var(--gradient-left), var(--gradient-right));
  color: var(--accent-text-color);
  border: none;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

dialog[open] {
  -webkit-animation: show 1s ease normal;
}
@-webkit-keyframes show{
  from {
      scale: 0
  }
  to {
      scale: 1;
  }
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.dialog-title {
  align-self: center;
}

.result {
  display: flex;
  flex-direction: column;
}

.new-game-btn {
  background-color: var(--accent-background-color);
  color: var(--accent-text-color);
  padding: 0.5em 1.2em;
  border-radius: 5px;
  width: 100%;
  align-self: center;
  box-shadow: 0 4px 8px 0 var(--text-color);
}

.new-game-btn:focus-visible {
  outline: 2px solid var(--accent-text-color);
}
