:root {
  font-family: "Wix Madefor Text", sans-serif;
  --accent-background-color: hsl(255, 50%, 30%);
  --accent-text-color: hsl(255, 50%, 90%);

  --gradient-left: hsl(345, 90%, 50%);
  --gradient-right: hsl(255, 50%, 50%);

  --accent-color: hsl(345, 90%, 50%);
}

*:focus-visible {
  outline: 2px solid var(--outline-color);
  outline-offset: 0.1em; 
}

.light-theme {
  --active-card-background: hsl(345, 90%, 80%);
  --text-color: hsl(255, 50%, 30%);
  --background-color: hsl(255, 50%, 95%);
  --outline-color: hsl(345, 90%, 30%);
}

.dark-theme {
  --active-card-background: hsl(345, 60%, 40%);
  --text-color: hsl(255, 50%, 90%);
  --background-color: hsl(255, 50%, 5%);
  --outline-color: hsl(345, 90%, 50%);
}

.app-container {
  background-color: var(--background-color);
  color: var(--text-color);
  display: grid;
  grid-template-rows: 7rem 1fr 5rem;
  min-height: 100vh;
  grid-template-areas: "header" "main" "footer";
}

header {
  border-bottom: 1px solid currentColor;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-50px);
  animation: fadeIn 1s forwards;
  animation-delay: 0.1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* HEADER */

.header-content {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5em;
  padding: 0.5em 0;
}

h1 {
  font-weight: 400;
  font-size: clamp(2rem, 7vw, 4rem);
  background-image: linear-gradient(to right, var(--gradient-left), var(--gradient-right));
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  font-weight: 400;
  font-size: clamp(1.8rem, 5vw, 2rem); 
}

p {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
}

.a11y-svg {
  width: 3em;
  height: 3em;
}

.theme-btn {
  position: absolute;
  padding: 0.2em;
  top: 0.6em;
  right: 0.6em;
  background-color: inherit;
  border: 1px solid var(--text-color);
}

/* MAIN */

main {
  grid-area: main;
  margin: 1em 0;
}

.welcome-container {
  display: flex;
  gap: 3em;
  margin: 0 auto;
  max-width: 90%;
}

.welcome-container > .form {
  width: 70%;
}

.welcome-container > .rating {
  width: 30%;
}

/* FOOTER */

footer {
  border-top: 1px solid currentColor;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 950px) {
  header {
    align-items: end;
  }

  .a11y-svg {
    width: 2em;
    height: 2em;
  }

  .welcome-container {
    flex-direction: column;
  }

  .welcome-container > .form {
    width: 100%;
  }

  .welcome-container > .rating {
    width: 100%;
  }
}
